@import "util.scss";//工具类css----兼容性

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
body{
    overflow-y: auto;
    &::-webkit-scrollbar{
    display:none;
    }
}
#app{
    width: 100%;
    height: 100%;
}
#container{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    height: 100%;
    @include flexBox;
    @include flex-direction('column');
    
//  -webkit-box-orient: vertical;
//  flex-direction: column;
        .type{
            width: 100%;
            flex: 1;
             @include flexBox;
             @include flex-direction('column');
            #header{
                height: 2.8rem;
                width: 100%;
                background-color: #fc1158;
                
                font-size: 18px;
                font-weight: bold;
                color: #fff;
                text-shadow: 1px 1px 1px #000;
                
                .commonHeader{
                    width: 100%;
                    height: 100%;
                    @include flexBox;
                    @include flex-direction("row");
                    text-align: center;
                    .back{
                        width: 50px;
                        @include flex-center;
                    }
                    .title{
                        flex: 1;
                        @include flex-center;
                    }
                    .moreInfo{
                        width: 50px;
                        @include flex-center;
                    }
                }
                
            }
            #content{
                width: 100%;
                overflow: auto;
               &::-webkit-scrollbar {display:none}
               @include flex(1);
               
               #detailBox{
                   height: 100%;
               }
            }
        }
        #footer{
            height: 50px;
            width: 100%;
            background-color: #eee;
            
            ul{
                width: 100%;
                height: 100%;
                 @include flexBox;
                li{
                    @include flex(1);
                    
                    a{
                        display: block;
                        text-decoration: none;
                        width: 100%;
                        height: 100%;
                       color: #666;
                         @include flex-center;
                        
                         &.active{
                            color:#fff;
                            background: #fc1158;
                        }
                    }
                   
                }
            }
        }
}
#toast{
    position: absolute;
    bottom:100px;
    width: 60%;
    left:20%;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    line-height: 22px;
    text-align: center;
    border-radius: 10px;
    padding: 8px;
    display: none;
}
